.BACKbord {
  
  border: 2px solid black;
  font-size: 17px;
  padding: 40px;
  margin: 50px;
  border-radius: 25px;
  color: black;
  background-color: white;
}

.BaseBlock {
  border: 1px solid white;
  border-radius: 10px;
  width: auto;
  height: 380px;
}

.BACKstyle {
  background-size: cover;
  background-position: center;
  padding: 1px;
}
