.BACKbord {
  
  border: 2px solid black;
  font-size: 17px;
  padding: 40px;
  margin: 50px;
  border-radius: 25px;
  color: black;
  background-color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.BaseBlock {
  border: 1px solid white;
  border-radius: 10px;
  width: auto;
  height: 380px;
}

.BACKstyle {
  background-size: cover;
  background-position: center;
  padding: 1px;
}

em, i {
  font-family: georgia;
}

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: 600;
	padding: 0 12px;
	margin: 20px;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	width: 160px;
	height: 46px;
	border-left: 2px solid #e16521;
	border-right: 2px solid #e4381C;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e4381C), to(#e16521)), -webkit-gradient(linear, left top, right top, from(#e4381C), color-stop(0%, #e16521));
	background-image: -o-linear-gradient(left, #e4381C 100%, #e16521 100%), -o-linear-gradient(left, #e4381C 0%, #e16521 0%);
	background-image: linear-gradient(to right, #e4381C 100%, #e16521 100%), linear-gradient(to right, #e4381C 0%, #e16521 0%);
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
	transition-duration: 1000ms;
	line-height: 45px;
	position: relative;
	z-index: 1;
	border-radius: 4px;
}

.BACKbord .primary-btn.f-btn:hover:after {
	opacity: 1;
}
