.BACKbord {
  
  border: 2px solid black;
  padding: 20px;
  margin: 50px;
  border-radius: 25px;
  height: 500px;
  
}

.BaseBlock {
  border: 1px solid white;
  border-radius: 10px;
  width: auto;
  height: 380px;
}

